
body {
    
    font-family: sans-serif;
    background-color: bisque;
    font-size: 100%;
}
h1 {
   text-align: center;
   font-size: 200%; 
}
img {
    display: block;
    border: 2px solid;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
}
p {
    max-width: 50%;
}    
div {
    padding-left: 1em;
}